

<sly data-sly-use.titletext="com.ugamdemo.core.models.TitleText"></sly>
<section class="services-area section-gap" style="padding-top:0px;padding-bottom:0px">               
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="menu-content  col-lg-7">
                        <div data-sly-test="${titletext.sectionGap==true}">
                        <div style="padding-top:120px"></div>
                        </div>
                        <div class="title text-center">
                              <h1 class="mb-10">${titletext.title}</h1>
                              <p>${titletext.text}</p>
                        </div>
                        <div data-sly-test="${titletext.paddingBottom==true}">
                        <div style="padding-bottom:70px"></div>
                        </div>
                       </div>
                    </div>
                 </div>
</section>