<script>
function ServletDemoAdd(){
var val1 = $('#val1').val();
var val2 = $('#val2').val();
$.ajax({
url     : '/bin/demoServlet',
method     : 'GET',
data     : {val1 : val1,val2 : val2},
success    : function(resultText){
$('#result').text(resultText);
},
error : function(jqXHR, exception){
console.log('Error occured!!');
}
});
}
</script>

<br>
  <label for="val1">Enter First Number:</label><br>
  <input type="number" id="val1" name="val1" placeholder="Enter a number"><br><br>
  <label for="val2">Enter Second Number:</label><br>
  <input type="number" id="val2" name="val2" placeholder="Enter a number"><br><br>
  <input type="submit" value="Submit" onclick="ServletDemoAdd()">

<br><br>
<p>Addition:- </p>
<h3 id="result"></h3> 