
<sly data-sly-use.price="com.ugamdemo.core.models.Price"></sly>
<section class="price-area section-gap" style="padding-top: 40px; padding-bottom: 40px; padding-left: 20px; padding-right: 20px;">
                <div class="container">
                    <div class="row">
                    <div class=" single-price">
                            <div class="top-part">           
                                <h1 class="package-no">${price.number}</h1>
                                <h4>${price.className}</h4>
                                <p class="mt-10">${price.text}</p>
                            </div>
                            <div class="package-list">
                                <ul>
                                    <li>${price.feature1}</li>
                                    <li>${price.feature2}</li>
                                    <li>${price.feature3}</li>
                                </ul>
                            </div>                           
                        </div>
                    </div>
                </div>   
            </section>