

 <section class="section-gap p-0">
                <div class="container" data-sly-use.testimonial_multi="com.ugamdemo.core.models.TestimonialMultifield">  
                 <div class="row">
                 <div class="row" data-sly-list.item="${testimonial_multi.testimonialMultiDetails}">
                        <div class="active-testimonial">
                        <div class="single-testimonial item d-flex flex-row">

                                <div class="thumb">
                                    <img class="img-fluid" src="" alt="">
                                </div>
                                <div class="desc">               
                                    <p>
                                        ${item.desc}
                                    </p>
                                    <h4>${item.name}</h4>
                                    <p>${item.designation}</p>
                                </div>
                            </div>
                           </div>
                    </div>
                 </div>
                 <div>
         </section>