

 <section class="testimonial-area section-gap" style="padding-top: 25px; padding-bottom: 12px;">
                <div class="container" data-sly-use.testimonial="com.ugamdemo.core.models.Testimonial">  
                 <div class="row">
                        <div class="active-testimonial">
                        <div class="single-testimonial item d-flex flex-row">
                                <div class="thumb">
                                    <img class="img-fluid" src="" alt="">
                                </div>
                                <div class="desc">               
                                    <p>
                                        ${testimonial.desc}
                                    </p>
                                    <h4>${testimonial.name}</h4>
                                    <p>${testimonial.designation}</p>
                                </div>
                            </div>
                           </div>
                    </div>
                 </div>
         </section>