
<div data-sly-use.bannerarea="com.ugamdemo.core.models.BannerArea">

<section class="banner-area">								
		<div class="container">
		<div class="row fullscreen align-items-center justify-content-between">
					<div class="col-lg-6 col-md-6 banner-left">
							<h6>${bannerarea.title}</h6>
							<h1>${bannerarea.name}</h1>
							<p>
								${bannerarea.info}
							</p>
							<a href="${bannerarea.path}.html" class="primary-btn text-uppercase">${bannerarea.buttontxt}</a>
					</div>
					<div class="col-lg-6 col-md-6 banner-right d-flex align-self-end">
							<img class="img-fluid" src="${bannerarea.img}" alt="">
					</div>
		</div>
		</div>					
</section>
</div>