
 <section class="recent-blog-area section-gap pb-5">
                <div class="container" data-sly-use.blog="com.ugamdemo.core.models.Blogteaser">
                    <div class="row">
<div class="single-recent-blog p-3">
                            <div class="thumb">               
                                <img class="f-img img-fluid mx-auto" src="${blog.img}" alt="">   
                            </div>                           
                            <a href="#">
                                <h4>${blog.title}</h4>
                            </a>
                            <p>
                                ${blog.desc}
                            </p>
                        </div>
                     </div>
                </div>   
            </section>
