<section class="services-area section-gap" style="padding-top: 4px; padding-bottom: 15px "> 

<div class="container" data-sly-use.services="com.ugamdemo.core.models.Services">
 <div class="row">
     <div class="" style="padding-left:20px; ">
               <div class="single-services" style="padding-top: 15px; padding-bottom: 15px">
                      <span class="lnr lnr-pie-chart"></span>
                      <a href="#"><h4>${services.service}</h4></a>             
                                <p>
                                ${services.desc}</p>
                            </div>
                      </div>
                   </div>
                 </div>
</section>
